* {
    font-family: 'Inconsolata', monospace;
    border: 2px solid magenta;
}

* p {
    color: #dfe6e9;
}

body {
background-color: #2d3436;
}

* h1 {
    color: #dfe6e9;
    font-family: 'Inconsolata', monospace;
}

/* * h1 {
    font-family: 'Montserrat', sans-serif;
} */