@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Allgemeine Dinge */
* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#text {
    display: none;
}

.admin {
    display: none;
}

body {
    background-color: #2C2F33;
}

body * {
    color: rgb(236, 236, 236);
}

/* Header Zeug */

header nav {
    display: flex; /*nebeneinander*/
    justify-content: space-around;
    align-items: center;
    min-height: 50px;

    background-color: #7289DA;
    /* background-image: linear-gradient(to right, #FF0000 0%, #AD00FF 100%); */
}

.logo {
    color: rgb(236, 236, 236);
    letter-spacing: 2px;
    font-size: 22px;
    cursor: default;    
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links a {
    color: rgb(236, 236, 236);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.nav-links li {
    list-style: none;
}

.burger div{
    width: 25px;
    height: 4px;
    background-color: rgb(236, 236, 236);
    margin: 5px;
    border-radius: 20%;
}

.burger {
    display: none;
}

.usercard {
    display: flex;
    margin-right: 6px;
}

.usercard img {
    width: 20px;
    border-radius: 50%;
    margin-right: 3px;
}

@media screen and (max-width:1024px){
    .logo {
        font-size: 16px;
    }

    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px){
    .logo {
        font-size: 13px;
    }

    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0%;
        height: 150px;
        top: 7.9vh;
        background-color: #7289DA;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-active {
        transform: translateX(0%)
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

/* UserPage Zeug */
.adminusertools{
    background-color: #414346;
    display: none;
}

.adminusertools ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.adminusertools ul li p {
    color: black;
    padding: 7px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.deletemessage {
    background-color: #d63031;
    display: flex;
    justify-content: center;
    display: none;
}

.maincard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5a5a5a;
    margin: 40px;
    border-radius: 20px;
    padding: 10px;
}

.maincard img {
    border-radius: 50%;
    width: 250px;
    margin: 10px;
}

.maincard #tag {
    margin-left: 10px;
    background-color: #7289DA;
    border-radius: 5%;
    padding: 3px;
}

.doublecard {
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-right: 40px;
}

.doublecard h1 {
    margin-bottom: 5px;
}

.rank {
    background-color: #5a5a5a;
    /* margin-left: 40px; */
    border-radius: 20px;
    padding: 10px;
    min-width: 500px;
}

.coins {
    background-color: #5a5a5a;
    /* margin-left: 40px; */
    border-radius: 20px;
    padding: 10px;
    min-width: 500px;
}

.coins img {
    width: 35px;
}

.coins .coinsamount {
    display: flex;
    align-items: center;
}

.userwarns {
    background-color: #5a5a5a;
    margin: 40px;
    border-radius: 20px;
    padding: 10px;
}
.userwarns li {
    margin-bottom: 20px;
    list-style: none;
}

/* Admin Page */

.api-tools {
    margin-left: 100px;
}

.api-tools ul li {
    list-style: none;
    margin-top: 30px;
}

.api-tools a {
    text-decoration: none;
    padding: 12px;
    border-radius: 4px;
    background-color: #7289DA;
}