@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#text {
    display: none;
}

body {
    background-color: #2C2F33;
}

body * {
    color: rgb(236, 236, 236);
}

header nav {
    display: flex; /*nebeneinander*/
    justify-content: space-around;
    align-items: center;
    min-height: 50px;

    background-color: #7289DA;
    /* background-image: linear-gradient(to right, #FF0000 0%, #AD00FF 100%); */
}

.logo {
    color: rgb(236, 236, 236);
    letter-spacing: 2px;
    font-size: 22px;
    cursor: default;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links a {
    color: rgb(236, 236, 236);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.nav-links li {
    list-style: none;
}

.burger div{
    width: 25px;
    height: 4px;
    background-color: rgb(236, 236, 236);
    margin: 5px;
    border-radius: 20%;
}

.burger {
    display: none;
}

.usercard {
    display: flex;
    margin-right: 6px;
}

.usercard img {
    width: 20px;
    border-radius: 50%;
    margin-right: 3px;
}

@media screen and (max-width:1024px){
    .logo {
        font-size: 16px;
    }

    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px){
    .logo {
        font-size: 13px;
    }

    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0%;
        height: 150px;
        top: 7.9vh;
        background-color: #7289DA;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-active {
        transform: translateX(0%)
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}