<link href="/css/404.css" rel="stylesheet">
<div class="icon">
</div>
<div class="bigtext"><h1>404 - Seite nicht gefunden</h1></div>
<div class="smaltext"><h3>Kann es sein das du dich bei der suche nach Eat, Sleep, Coins verlaufen hast?</h3></div>
<div class="homebutton"><a href="/webinterface">HOME</a></div>
