<div class="api-ban-page">
    <h2>API-Bans</h2>
    <p>Hier findest du alle API-Bans. Member die einen API-Ban erhalten haben können die Website und dessen API nicht mehr benutzen. API-Bans sind unabhäning von Discord Server Bans. Ein API-Ban wird in den meisten fällen automatisch vom Server verteilt, wenn ein Nuter die API mit Anfragen bombabiert und somit dem Server schadet.</p>

    <h3>api-bans einsehen:</h3>

    <div class="api-ban-list">
        <ul>
            
        </ul>
    </div>

</div>
