<div class="api-tools">
    <h1>Admin Tools:</h1>
    <ul>
        <li><a href="/webinterface/admin/api-bans">API Banns</a></li>
        <li><a href="/webinterface/admin/events">Event Manager</a></li>
    </ul>
</div>