<% if (raw){ %> <%- body %> <% } else {%>  

<!DOCTYPE html>
<html lang=de>
    <head>
        <title>Eat, Sleep, Nintendo, Repeat</title>
    </head>


    <body>
        <%- body %>
    </body>
</html>

<% } %> 