<!DOCTYPE html>
<html lang=de>
    <head>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Montserrat:ital,wght@0,400;1,500&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/header.css" media="screen" />
        <meta charset="utf-8">
        <title>Eat, Sleep, Nintendo, Repeat</title>


    </head>

    <header>

    </header>
    <h1>Eat, Sleep, Nintendo, Repeat</h1>
    <body>
        <%- body %>
    </body>
</html>