<div class="adminusertools admin">
    <ul>
        <li><h2>Admintools:</h4></li>
        <li><p style="background-color: #fdcb6e">Kick</p></li>
        <li><p style="background-color: #d63031;">Bann</p></li>
        <li><p style="background-color: #6c5ce7;">Mute</p></li>
        <li><p style="background-color: #55efc4;">Edit Database</p></li>
    </ul>
</div>

<div class="deletemessage">
    <h3 class="usernamefill"></h3>
    <h3> befindet sich nicht mehr auf Eat, Sleep, Nintendo, Repeat. Seine Daten werden am 04.7.2021 aus unserem Server entfernt!</h3>
</div>

<div class="maincard hideuntiluserload">
    <img src="/src/default-pb.jpg" alt="Membericon">
        <h1 id="name">Dustin_DM#0069</h1>
        <h1 id="tag">Admin</h1>
</div>

<div class="doublecard hideuntiluserload">
    <div class="rank">
        <h1>RANG:</h1>
        <h2>Platzierung: </h2>
        <h2 id="ranklist"></h2>
        <h2>Rang: </h2>
        <h2 id="rank"></h2>
        <h2>xp: </h2>
        <h2 id="xp"></h2>
    </div>

    <div class="coins">
        <h1>COINS:</h1>
        <div class="coinsamount">
            <h2>Eat, Sleep, Coins: </h2>
            <h2>13400</h2>
            <img src="/src/esc.png" alt="coins">
        </div>
        <h2>Letzter Daily: 29.12.2020</h2>
    </div>
</div>

<div class="userwarns hideuntiluserload">
    <h1>Verwarnungen:</h1>
    <ul>
        <li>
            <h3>Verwarnungsname</h3>
            <p>Ausgestellt von: Dustin_DM#0069</p>
            <p>Beschreibung: Dustin hat Fortnite Kiddies gemobbt</p>
            <p>Austellungsdatum: 04.01.2021</p>
        </li>

        <li>
            <h3>Verwarnungsname</h3>
            <p>Ausgestellt von: Dustin_DM#0069</p>
            <p>Beschreibung: Dustin hat Fortnite Kiddies gemobbt</p>
            <p>Austellungsdatum: 04.01.2021</p>
        </li>
    </ul>
</div>


<script src="/js/fetchuserdata.js"></script>