<div class="impressum" style="margin: 5px;">
    <h2>Impressum</h2>
    <p>Dustin Meyer<br />
    Bergstraße 50<br />09113 Chemnitz</p>
    <p>Telefon: 015251999236<br />
    E-Mail: <a href="mailto:public@dustin-dm.de">public@dustin-dm.de</a><br />
    </p>
    <p>Quelle: <a href="https://www.juraforum.de">Quelle anschauen</a></p>
</div>